<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc 
	http://www.springframework.org/schema/mvc/spring-mvc-3.1.xsd
	http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
	http://www.springframework.org/schema/context 
	http://www.springframework.org/schema/context/spring-context-3.1.xsd">
	
	<context:component-scan base-package="com.towne.framework.*">
		<context:include-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
	</context:component-scan>
	
	
	<mvc:annotation-driven />
	
	<!-- 用于将实体转化为xml格式的数据 -->
	<bean class="org.springframework.oxm.jaxb.Jaxb2Marshaller" id="jaxbMarshaller">
		<property name="classesToBeBound">
			<list>
			    <value>com.towne.framework.springmvc.model.MomentVO</value>
			    <value>com.towne.framework.springmvc.model.PageVO</value>
				<value>com.towne.framework.springmvc.model.Moments</value>
			</list>
		</property>
	</bean>
	
	<!-- springmvc 上传 bean -->
    <bean id="multipartResolver"  
        class="org.springframework.web.multipart.commons.CommonsMultipartResolver" p:defaultEncoding="utf-8">  
        <property name="maxUploadSize">  
            <value>104857600</value>  
        </property>  
    </bean>   
    
    <!-- druid 拦截器 -->
    <bean id="druid-stat-interceptor"
        class="com.alibaba.druid.support.spring.stat.DruidStatInterceptor">
    </bean>

    <bean id="druid-type-proxyCreator" class="com.alibaba.druid.support.spring.stat.BeanTypeAutoProxyCreator">
      <!-- 所有ABCInterface的派生类被拦截监控  -->
       <property name="targetBeanType" value="com.towne.framework.common.service.IFacadeService" />
       <property name="interceptorNames">
          <list>
              <value>druid-stat-interceptor</value>
          </list>
       </property>
    </bean>    
    
</beans>